<div class="col-xs-12 col-sm-4 col-lg-4 col-lg-offset-4">

  <h3>
    <span class="glyphicon glyphicon-usd"></span>
    New Payment
  </h3>
  
  <div class="panel panel-default">
    <!--<div class="panel-heading">-->
    <!--  <h3 class="panel-title">-->
    <!--    <span class="glyphicon glyphicon-usd"></span>-->
    <!--    New Payment-->
    <!--  </h3>-->
    <!--</div>-->
    <div class="panel-body">
      <form action="/" method="post">

        <div class="form-group">
          <label for="rental">Address</label>
          <select class="form-control" id="rental" name="rental">
            <!-- <option>Select a Rental</option> -->
            <% @rentals.each do |rental| %>
              <option value="<%= rental.id %>"><%= rental.address %></option>
            <% end %>
          </select>
        </div>

        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="tel" class="form-control" id="amount" placeholder="Amount" name="amount">
        </div>
        <div class="form-group text-right">
          <input type="submit" class="btn btn-success" value="Add Payment">
        </div>
      </form>
    </div> <!-- panel-body -->
    <div class="panel-footer text-center">
      <a href="/rental/new">New Rental</a>
    </div>
  </div>

</div>




<div class="col-xs-12 col-sm-8 col-lg-4 col-lg-offset-4">

  <h3>
    <span class="glyphicon glyphicon-time"></span>
    Recent
  </h3>
  <div class="panel panel-default">
    <!--<div class="panel-heading">-->
    <!--  <h3 class="panel-title">-->
    <!--    <span class="glyphicon glyphicon-stats"></span>-->
    <!--    Summary-->
    <!--  </h3>-->
    <!--</div>-->
    <!-- <div class="panel-body"> -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Address</th>
            <th class="text-right">Paid</th>
          </tr>
        </thead>
        <tbody>
          <% @rentals.reverse.each do |rental| %>
          <tr>
            <td>
              <a href='/rental/<%= rental.id %>'><%= rental.address %></a>
            </td>
            <td class="text-right">
              <% if rental.payments.last %>
                <%= rental.payments.last.paid_at.strftime('%b %d') %><br><em><%= money(rental.payments.last.amount) %></em>
              <% else %>
                <i><%= money(0) %></i>
              <% end %>
            </td></tr>
          <% end %>
        </tbody>

      </table>
    <!-- </div> -->
  </div>

</div>
